.breadcrumb {
    border-radius: 0;
    border: 0 none;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 5px 0 0 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 202px;
}
.search-label {
    color: #9a9a9a;
    font-weight: bolder;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 6px 0;
    border-radius: 2px;
    padding: 0 6px;
}